html {
    height: 100%;
}

body {
    height: 100%;
    background: rgb(253, 45, 45);
    background: linear-gradient(0deg, rgba(100, 45, 45, 1) 7%, rgba(50, 0, 100, 1.0) 38%, rgba(0, 0, 0, 1.0) 55%);
    /*background: linear-gradient(0deg, rgba(253, 45, 45, 1) 17%, rgba(94, 97, 222, 1) 35%, rgba(0, 0, 128, 1.0) 48%);*/
    /*background: #272727;*/
}

body > div {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
